*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
wp-config.php
wp-config-bitnami.php
.htaccess
code.php
wp-content/plugins/mm-asset-widget/config.php
wp-content/plugins/mm-lifter-lms-addons/config.php
